.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.ant-menu-item-active:hover {
  border-bottom: none !important;
  color: #2b2b2b;
  background-color: #a5a5a5 !important;
}

.ant-menu-item-selected {
  background-color: #c9c9c9 !important;
  color: #2b2b2b;
  border-bottom: none;
}

.ant-menu-light.ant-menu-horizontal > .ant-menu-item-selected {
  color: #2b2b2b;
  border-bottom: none;
}

.ant-menu-light.ant-menu-horizontal > .ant-menu-item-selected::after {
  border-bottom: none;
}

.ant-menu-light {
  background-color: #2b2b2b !important;
  color: #c9c9c9;
  border-bottom: none;
}

.ant-menu-light.ant-menu-horizontal > .ant-menu-item:hover::after {
  border-bottom: none !important;
}

.ant-radio-button-wrapper-checked {
  background: #9c9c9c !important;
  border-color: #2b2b2b;
}
